<h1 mat-dialog-title>Todo Creator</h1>
<form [formGroup]="newTodoForm">
  <div mat-dialog-content>
    <ol>
      <li>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </li>
      <li>
        <span>Assigned to:</span>
        <div *ngIf="user; else buttonAssign">
          <img class="user-icon" [src]="user.picture" alt="">
          <span>{{user.fullName}}</span>
        </div>
  
        <ng-template #buttonAssign>
          <button mat-raised-button (click)="openDialogAssign()">Select</button>
        </ng-template>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dueDate">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </li>
      <li>
        <ngb-timepicker formControlName="dueTime"></ngb-timepicker>
      </li>
      <div class="text-danger" *ngIf="newTodoForm.errors && newTodoForm.errors['invalidDate']">
        Invalid date, it's the past
      </div>
    </ol>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
    <button mat-button type="submit" (click)="newTodo()" [disabled]="!newTodoForm.valid">Ok</button>
  </div>
</form>
