.red {
  color: red;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}
.green-card{
  background-color: rgba(5, 177, 5, 0.253);
}
.red-card{
  background-color: rgba(255, 0, 0, 0.199);
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card-text {
  margin-bottom: 10px;
}
.card-text.red{
  text-align: center;
  font-size: 18px;
}
.label{
  font-size: 15px;
  color: rgba(44, 44, 44, 0.644);
  margin-bottom: 8px;
}
.info-user{
  display: inline-flex;
}
.user-icon-container{
  position: relative;
  width: 30px;
  margin-right: 7px;
}
.form-check-label{
  margin-left: 5px;
}

.card{
  position: relative;
}
.trash-icon{
  position: absolute;
  right: 20px;
  top: 20px;
}
.trash-button{
  width: fit-content!important;
  min-width: unset!important;
}
.mat-delete{
  color: red;
}