<div class="card"
     [class.red-card]="todo.expired"
     [class.green-card]="todo.completed">
  <div class="card-body">
    <h5 class="card-title">
      {{todo.title}}
      <span class="icon-status">
      </span>
    </h5>

    <div class="row">
      <div class="col card-text">
        <div class="label">Created by:</div> 
        <div class="info-user">
          <div class="user-icon-container">
            <img class="user-icon" [src]="todo.createdBy.picture" alt="">
          </div>
          {{todo.createdBy.fullName}}
        </div>
      </div>
      
      <div class="col card-text" *ngIf="todo!.assignedTo; else buttonAssign">
        <div class="label">Assigned to:</div> 
        <div class="info-user">
          <div class="user-icon-container">
            <img class="user-icon" [src]="todo.assignedTo.picture" alt="">
          </div>
          {{todo!.assignedTo!.fullName}}
        </div>
      </div>
      <ng-template #buttonAssign>
        <div class="col" *ngIf="!(todo.expired)">
          <div class="label">Assigned to:</div>
          <button mat-raised-button (click)="openDialogAssign()">Select</button>
        </div>
      </ng-template>
  
    </div>

    <div class="card-text" *ngIf="todo.dueDate">Date: {{todo!.dueDate | date: 'dd/MM/yyyy HH:mm'}}</div>

    <div class="card-text">
      <input class="form-check-input" 
              type="checkbox"
              (change)="setCheckBox($event)"
              [checked]="todo.completed"
              [class.is-valid]="todo.completed"/>
      <label class="form-check-label"
              [class.green]="todo.completed">
        Completed
      </label>
    </div>

    <div class="card-text" 
         [class.red]="todo.expired" 
         *ngIf="todo!.expired">
      Expired
    </div>
    
  </div>
</div>